* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
}

header {
	display: flex;
    background-color: rgb(39, 60, 129);
    align-items: baseline;
    color: white;
    justify-content: space-between;
	align-items: baseline;
	padding: 20px;
}
header h1 {
	display: inline-flex;
	font-size: 25px;
}

header h2 {
	display: inline-flex;
	
}

main {
	background-color: orange;
}

.sec {
	background-color: lightblue;
	display: flex;
	margin: 10px;
	align-items: center;
	flex-direction: row;
}

.sec h2 {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin: 0;
	min-width: 200px;
}

.sec div {
	padding: 10px;
	border-left: 5px solid rgb(39, 60, 129);
}

@media screen and (max-width:600px) {
	.sec {
		flex-direction: column;
	}

	.sec div {
		border-left: 0;
		border-top: 5px solid black;
	}
}